In [7]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:''@localhost/db_digitalent_classicmodels')

In [8]:
# Convert data dari CSV ke MYSQL
df_fromcsv = pd.read_csv('mahasiswa.csv')
print(df_fromcsv)
df_fromcsv.to_sql(name = 'mahasiswa', con = engine, if_exists='append', index = False)

   id   nama
0   1    Ani
1   2   Budi
2   3  Citra
3   4  Damar
4   5   Esti

In [18]:
df_result = run("select * from mahasiswa")
print(df_result)

   id    nama
0   1     Ani
1   2    Budi
2   3   Citra
3   4   Damar
4   5    Esti
5  10  Farham

In [12]:
engine.execute("INSERT INTO mahasiswa VALUES('10','Farham')")

In [14]:
id_mhs = '11'
nama_mhs = 'Pras'
engine.execute("INSERT INTO mahasiswa VALUES("+id_mhs+",'"+nama_mhs+"')")

In [15]:
engine.execute("UPDATE mahasiswa SET nama='Ganteng' where id='11'")

In [16]:
engine.execute("Delete from mahasiswa where id='11'")

In [19]:
df_result.to_csv('mahasiswa_resut.csv', index=False)

In [20]:
run("""
    SELECT
	customerName 
FROM
	customers 
WHERE
	customerNumber = ( SELECT payments.customerNumber FROM payments WHERE amount = ( SELECT max( amount ) FROM payments ) )
""")

             customerName
0  Euro+ Shopping Channel