In [5]:
import os
import pandas as pd

# Path to gdelt dataset
base_path = os.path.abspath("E:/GDELT/gdelt_id/")

# List all file in directory
file_list = os.listdir(base_path)
file_list.sort()

# Create a variable to store all dataframe
df_list = []
if file_list[0] == "ID0000.tsv":
    df1 = pd.read_csv(base_path +"/"+ file_list[0], delimiter='\t', encoding="utf8")
    header = list(df1.columns.values)
    del(file_list[0])
    df_list.append(df1)
    for filename in file_list:
        if filename.endswith(".tsv"):
            df_list.append(pd.read_csv(base_path +"/"+ filename, delimiter='\t',encoding="utf=8",header=None, names=header))
    df = pd.concat(df_list)
else:
    print('tidak ada')
    import sys
    sys.exit("Please check ID0000.tsv.")
    
target_path = os.abspath("E:/GDELT/CSV/")
target_filename = "%s.%s"
df = df[(df['Year'] > 2015) & (df['Year'] < 2018)]

df.to_csv(target_path +"/"+ target_filename, sep=",", encoding="utf-8")

# Check "ID0000.tsv" for dataframe header
# if file_list[0] == "ID0000.tsv":
# 	# Create a header for other dataframe
# 	df1 = pd.read_csv(base_path + file_list[0], delimiter='\t', encoding="utf8")
# 	header = list(df1.columns.values)

# 	# Delete "ID0000.tsv" from file_list
# 	del(file_list[0])

# 	# Insert the first dataframe
# 	df_list.append(df1)

# 	for filename in file_list:
# 		# Check if the files are the targeted one or not
# 		if filename.endswith(".tsv"):
# 			# Insert all
# 			df_list.append(pd.read_csv(base_path + filename, delimiter='\t', 
# 										encoding="utf=8",
# 										header=None, names=header))

# 	# Join all dataframe
# 	df = pd.concat(df_list)

# else:
# 	import sys
# 	sys.exit("Please check ID0000.tsv.")


# # Define target path
# target_path = os.abspath("E:/GDELT/CSV/")
# target_filename = "%s.%s"

# # Filter dataframe
# df = df[(df['Year'] > 2012) & (df['Year'] < 2015)]

# # Export dataframe
# df.to_csv(target_path + target_filename, sep=",", encoding="utf-8")

      GLOBALEVENTID   SQLDATE  MonthYear  Year  FractionDate Actor1Code  \
0         798201175  20181029     201810  2018     2018.8192        IDN
1         798201178  20181029     201810  2018     2018.8192        IDN
2         798201179  20181029     201810  2018     2018.8192        IDN
3         798201180  20181029     201810  2018     2018.8192        IDN
4         798201182  20181029     201810  2018     2018.8192     IDNHLH
5         798201261  20181029     201810  2018     2018.8192        ISR
6         798201262  20181029     201810  2018     2018.8192        ISR
7         798201263  20181029     201810  2018     2018.8192        ISR
8         798201264  20181029     201810  2018     2018.8192        ISR
9         798201701  20181029     201810  2018     2018.8192        NRU
10        798201839  20181029     201810  2018     2018.8192        PTY
11        798201863  20181029     201810  2018     2018.8192        REL
12        798201864  20181029     201810  2018     2018.8192        REL
13        798201871  20181029     201810  2018     2018.8192        REL
14        798208640  20181029     201810  2018     2018.8192        NaN
15        798208949  20181029     201810  2018     2018.8192        BUS
16        798209448  20181029     201810  2018     2018.8192        IDN
17        798209449  20181029     201810  2018     2018.8192        IDN
18        798209451  20181029     201810  2018     2018.8192  IGOEUREEC
19        798211665  20181029     201810  2018     2018.8192        COP
20        798211943  20181029     201810  2018     2018.8192        GOV
21        798212021  20181029     201810  2018     2018.8192        IDN
22        798212022  20181029     201810  2018     2018.8192        IDN
23        798212023  20181029     201810  2018     2018.8192        IDN
24        798212024  20181029     201810  2018     2018.8192     IDNGOV
25        798213927  20181029     201810  2018     2018.8192        NaN
26        798214209  20181029     201810  2018     2018.8192        BUS
27        798214623  20181029     201810  2018     2018.8192        GOV
28        798214651  20181029     201810  2018     2018.8192        GOV
29        798214690  20181029     201810  2018     2018.8192        IDN
...             ...       ...        ...   ...           ...        ...
3031      798467586  20181029     201810  2018     2018.8192        BUS
3032      798467618  20181029     201810  2018     2018.8192        CHL
3033      798468007  20181029     201810  2018     2018.8192        GOV
3034      798468027  20181029     201810  2018     2018.8192        GOV
3035      798468028  20181029     201810  2018     2018.8192        GOV
3036      798468048  20181029     201810  2018     2018.8192        GOV
3037      798468049  20181029     201810  2018     2018.8192        GOV
3038      798468050  20181029     201810  2018     2018.8192        GOV
3039      798468051  20181029     201810  2018     2018.8192        GOV
3040      798468152  20181029     201810  2018     2018.8192        IDN
3041      798468153  20181029     201810  2018     2018.8192        IDN
3042      798468154  20181029     201810  2018     2018.8192        IDN
3043      798468155  20181029     201810  2018     2018.8192        IDN
3044      798468156  20181029     201810  2018     2018.8192        IDN
3045      798468158  20181029     201810  2018     2018.8192        IDN
3046      798468159  20181029     201810  2018     2018.8192        IDN
3047      798468162  20181029     201810  2018     2018.8192     IDNBUS
3048      798468163  20181029     201810  2018     2018.8192     IDNGOV
3049      798468164  20181029     201810  2018     2018.8192     IDNGOV
3050      798468165  20181029     201810  2018     2018.8192     IDNGOV
3051      798468167  20181029     201810  2018     2018.8192     IDNMIL
3052      798468170  20181029     201810  2018     2018.8192  IGOEUREEC
3053      798468171  20181029     201810  2018     2018.8192  IGOEUREEC
3054      798468172  20181029     201810  2018     2018.8192  IGOEUREEC
3055      798468174  20181029     201810  2018     2018.8192  IGOEUREEC
3056      798468183  20181029     201810  2018     2018.8192        IND
3057      798468187  20181029     201810  2018     2018.8192        IND
3058      798468503  20181029     201810  2018     2018.8192        MOS
3059      798468842  20181029     201810  2018     2018.8192        USA
3060      798468913  20181029     201810  2018     2018.8192        USA

               Actor1Name Actor1CountryCode Actor1KnownGroupCode  \
0               INDONESIA               IDN                  NaN
1                 JAKARTA               IDN                  NaN
2                 JAKARTA               IDN                  NaN
3                 JAKARTA               IDN                  NaN
4               INDONESIA               IDN                  NaN
5                 ISRAELI               ISR                  NaN
6                 ISRAELI               ISR                  NaN
7                  ISRAEL               ISR                  NaN
8                  ISRAEL               ISR                  NaN
9                   NAURU               NRU                  NaN
10             POLITICIAN               NaN                  NaN
11                  ABBOT               NaN                  NaN
12                  ABBOT               NaN                  NaN
13                  ABBOT               NaN                  NaN
14                    NaN               NaN                  NaN
15               INDUSTRY               NaN                  NaN
16               SEMARANG               IDN                  NaN
17              INDONESIA               IDN                  NaN
18    EUROPEAN PARLIAMENT               EUR                  EEC
19                 DEPUTY               NaN                  NaN
20              REGULATOR               NaN                  NaN
21              INDONESIA               IDN                  NaN
22              INDONESIA               IDN                  NaN
23              INDONESIA               IDN                  NaN
24              INDONESIA               IDN                  NaN
25                    NaN               NaN                  NaN
26               INDUSTRY               NaN                  NaN
27              PRESIDENT               NaN                  NaN
28             GOVERNMENT               NaN                  NaN
29              INDONESIA               IDN                  NaN
...                   ...               ...                  ...
3031              AIRLINE               NaN                  NaN
3032                CHILE               CHL                  NaN
3033            PRESIDENT               NaN                  NaN
3034       ADMINISTRATION               NaN                  NaN
3035       ADMINISTRATION               NaN                  NaN
3036            PRESIDENT               NaN                  NaN
3037           GOVERNMENT               NaN                  NaN
3038           GOVERNMENT               NaN                  NaN
3039            PRESIDENT               NaN                  NaN
3040           INDONESIAN               IDN                  NaN
3041           INDONESIAN               IDN                  NaN
3042           INDONESIAN               IDN                  NaN
3043            INDONESIA               IDN                  NaN
3044           INDONESIAN               IDN                  NaN
3045            INDONESIA               IDN                  NaN
3046            INDONESIA               IDN                  NaN
3047            INDONESIA               IDN                  NaN
3048            INDONESIA               IDN                  NaN
3049           INDONESIAN               IDN                  NaN
3050            INDONESIA               IDN                  NaN
3051           INDONESIAN               IDN                  NaN
3052   THE EUROPEAN UNION               EUR                  EEC
3053   THE EUROPEAN UNION               EUR                  EEC
3054   THE EUROPEAN UNION               EUR                  EEC
3055   THE EUROPEAN UNION               EUR                  EEC
3056            NEW DELHI               IND                  NaN
3057            NEW DELHI               IND                  NaN
3058               MUSLIM               NaN                  NaN
3059        UNITED STATES               USA                  NaN
3060        UNITED STATES               USA                  NaN

     Actor1EthnicCode                        ...                          \
0                 NaN                        ...
1                 NaN                        ...
2                 NaN                        ...
3                 NaN                        ...
4                 NaN                        ...
5                 NaN                        ...
6                 NaN                        ...
7                 NaN                        ...
8                 NaN                        ...
9                 NaN                        ...
10                NaN                        ...
11                NaN                        ...
12                NaN                        ...
13                NaN                        ...
14                NaN                        ...
15                NaN                        ...
16                NaN                        ...
17                NaN                        ...
18                NaN                        ...
19                NaN                        ...
20                NaN                        ...
21                NaN                        ...
22                NaN                        ...
23                NaN                        ...
24                NaN                        ...
25                NaN                        ...
26                NaN                        ...
27                NaN                        ...
28                NaN                        ...
29                NaN                        ...
...               ...                        ...
3031              NaN                        ...
3032              NaN                        ...
3033              NaN                        ...
3034              NaN                        ...
3035              NaN                        ...
3036              NaN                        ...
3037              NaN                        ...
3038              NaN                        ...
3039              NaN                        ...
3040              NaN                        ...
3041              NaN                        ...
3042              NaN                        ...
3043              NaN                        ...
3044              NaN                        ...
3045              NaN                        ...
3046              NaN                        ...
3047              NaN                        ...
3048              NaN                        ...
3049              NaN                        ...
3050              NaN                        ...
3051              NaN                        ...
3052              NaN                        ...
3053              NaN                        ...
3054              NaN                        ...
3055              NaN                        ...
3056              NaN                        ...
3057              NaN                        ...
3058              NaN                        ...
3059              NaN                        ...
3060              NaN                        ...

     Actor2Geo_FeatureID ActionGeo_Type  \
0                    NaN              1
1                -797156              4
2               -2696836              4
3               -2696836              4
4                -797156              4
5               -2696836              4
6               -2696836              4
7               -2696836              4
8               -2696836              4
9                    NaN              1
10                   NaN              1
11                   NaN              1
12                   NaN              1
13                    ID              1
14              10119106              4
15                   NaN              4
16                   NaN              4
17              -2696070              4
18                   NaN              4
19              10131926              4
20              10205777              4
21                   NaN              4
22              -2680735              4
23              10131926              4
24              10205777              4
25              10205777              4
26                   NaN              1
27              10205777              4
28              10205777              4
29              10205777              4
...                  ...            ...
3031              531871              3
3032                 NaN              1
3033                 NaN              4
3034            -2690876              4
3035            -2690876              4
3036            10111091              4
3037                  ID              4
3038                  ID              1
3039            10111091              4
3040            -1563952              1
3041                  ID              4
3042            -1603135              4
3043            -1603135              1
3044                  AS              4
3045             9179538              4
3046             9179538              4
3047                 NaN              5
3048                 NaN              4
3049            -1563952              1
3050            10111091              4
3051                 NaN              4
3052            -2698521              4
3053            -2690876              4
3054             9179538              4
3055            -2690876              4
3056                 NaN              4
3057            11263806              4
3058                 NaN              1
3059            -2679652              3
3060            -2679921              5

                                   ActionGeo_FullName ActionGeo_CountryCode  \
0                                           Indonesia                    ID
1                      Gaza, Israel (general), Israel                    IS
2                     Sidoarjo, Jawa Timur, Indonesia                    ID
3                      Gaza, Israel (general), Israel                    IS
4                     Sidoarjo, Jawa Timur, Indonesia                    ID
5                     Sidoarjo, Jawa Timur, Indonesia                    ID
6                      Gaza, Israel (general), Israel                    IS
7                 Jerusalem, Israel (general), Israel                    IS
8                      Gaza, Israel (general), Israel                    IS
9                                           Indonesia                    ID
10                                          Indonesia                    ID
11                                          Indonesia                    ID
12                                          Indonesia                    ID
13                                          Indonesia                    ID
14                            Antara, Aceh, Indonesia                    ID
15                            Antara, Aceh, Indonesia                    ID
16                   Semarang, Jawa Tengah, Indonesia                    ID
17                   Semarang, Jawa Tengah, Indonesia                    ID
18                            Antara, Aceh, Indonesia                    ID
19              Situmorang, Sumatera Utara, Indonesia                    ID
20                        Bali, Jawa Timur, Indonesia                    ID
21                        Bali, Jawa Timur, Indonesia                    ID
22         Kalimantan, Indonesia (general), Indonesia                    ID
23              Situmorang, Sumatera Utara, Indonesia                    ID
24                        Bali, Jawa Timur, Indonesia                    ID
25                        Bali, Jawa Timur, Indonesia                    ID
26                                          Indonesia                    ID
27                        Bali, Jawa Timur, Indonesia                    ID
28                        Bali, Jawa Timur, Indonesia                    ID
29                        Bali, Jawa Timur, Indonesia                    ID
...                                               ...                   ...
3031  Washington, District of Columbia, United States                    US
3032                                        Indonesia                    ID
3033         Tanjung Priok, Sumatera Utara, Indonesia                    ID
3034   Pangkal Pinang, Indonesia (general), Indonesia                    ID
3035   Pangkal Pinang, Indonesia (general), Indonesia                    ID
3036         Tanjung Priok, Sumatera Utara, Indonesia                    ID
3037                         Lahore, Punjab, Pakistan                    PK
3038                                        Indonesia                    ID
3039         Tanjung Priok, Sumatera Utara, Indonesia                    ID
3040                                        Indonesia                    ID
3041               Sydney, New South Wales, Australia                    AS
3042               Sydney, New South Wales, Australia                    AS
3043                                        Indonesia                    ID
3044              Jerusalem, Israel (general), Israel                    IS
3045   Pangkal Pinang, Indonesia (general), Indonesia                    ID
3046                    Juanda, Jawa Timur, Indonesia                    ID
3047                 West Java, Jawa Barat, Indonesia                    ID
3048         Tanjung Priok, Sumatera Utara, Indonesia                    ID
3049                                        Indonesia                    ID
3050         Tanjung Priok, Sumatera Utara, Indonesia                    ID
3051                 Jakarta, Jakarta Raya, Indonesia                    ID
3052                 Jakarta, Jakarta Raya, Indonesia                    ID
3053   Pangkal Pinang, Indonesia (general), Indonesia                    ID
3054                    Juanda, Jawa Timur, Indonesia                    ID
3055   Pangkal Pinang, Indonesia (general), Indonesia                    ID
3056                    Garuda, Jawa Barat, Indonesia                    ID
3057                    Garuda, Jawa Barat, Indonesia                    ID
3058                                        Indonesia                    ID
3059  Washington, District of Columbia, United States                    US
3060                 West Java, Jawa Barat, Indonesia                    ID

     ActionGeo_ADM1Code ActionGeo_Lat ActionGeo_Long ActionGeo_FeatureID  \
0                    ID      -5.00000       120.0000                  ID
1                  IS00      31.41670        34.3333             -797156
2                  ID08      -7.44780       112.7180            -2696836
3                  IS00      31.41670        34.3333             -797156
4                  ID08      -7.44780       112.7180            -2696836
5                  ID08      -7.44780       112.7180            -2696836
6                  IS00      31.41670        34.3333             -797156
7                  IS00      31.76670        35.2333             -797092
8                  IS00      31.41670        34.3333             -797156
9                    ID      -5.00000       120.0000                  ID
10                   ID      -5.00000       120.0000                  ID
11                   ID      -5.00000       120.0000                  ID
12                   ID      -5.00000       120.0000                  ID
13                   ID      -5.00000       120.0000                  ID
14                 ID01       3.52920        99.0184            10119106