# Buat Koneksi ke DB: 
## conda install -c anaconda sqlalchemy

Sebelum melakukan koneksi, kita harus meng-install sqlalchemy melalui perintah:

In [8]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

host = '127.0.0.1'
port = "3306"
username = 'root'
password = ''
database = 'db_digitalent_classicmodels'

#Create Connection to Daabase
engine = create_engine
('mysql+pymysql://'+username+':'+password+'@'+host+':'+port+'/'+database)

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

In [9]:
# Convert data dari CSV ke MYSQL
df_fromcsv = pd.read_csv('mahasiswa.csv')
#print(df_fromcsv)
df_fromcsv.to_sql(name = 'mahasiswa', con = engine, if_exists='append', index = False)

AttributeError: 'function' object has no attribute 'cursor'