In [1]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
i = 0
while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [3]:
#Deklarasi List

#Dapat berisi angka
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

#Dapat berisi String
peserta = ['Farham', 'Mizan', 'Evi']
print(peserta)

#Dapat Berisi Campuran
campuran = ['Big', 2.5, 29, 'Data']
print(campuran)

[10, 20, 39, 49, 19, 29, 98]
['Farham', 'Mizan', 'Evi']
['Big', 2.5, 29, 'Data']

In [4]:
#Deklarasi List

#Dapat berisi angka
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

#Dapat berisi String
peserta = ['Farham', 'Mizan', 'Evi']
print(peserta)

#Dapat Berisi Campuran
campuran = ['Big', 2.5, 29, 'Data']
print(campuran)

[10, 20, 39, 49, 19, 29, 98]
['Farham', 'Mizan', 'Evi']
['Big', 2.5, 29, 'Data']

In [5]:
#Deklarasi List

#Dapat berisi angka
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

#Dapat berisi String
peserta = ['Farham', 'Mizan', 'Evi']
print(peserta)

#Dapat Berisi Campuran
campuran = ['Big', 2.5, 29, 'Data']
print(campuran)

#Print index
print(nilai[2])
print(peserta[0])
print(campuran[-2])

[10, 20, 39, 49, 19, 29, 98]
['Farham', 'Mizan', 'Evi']
['Big', 2.5, 29, 'Data']
39
Farham
29

In [6]:
#Dapat berisi angka
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

#Menambah Elemen kedalam List
nilai.append(1900)
print(nilai)

[10, 20, 39, 49, 19, 29, 98]
[10, 20, 39, 49, 19, 29, 98, 1900]

In [7]:
#Dapat berisi angka
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

#Slicing digunakan untuk memilih beberapa kelompok nilai dari list dengan memanfaatkan range index
print(nilai[2:5])
print(nilai[:-5])
print(nilai[2:])
print(nilai[:])

[10, 20, 39, 49, 19, 29, 98]
[39, 49, 19]
[10, 20]
[39, 49, 19, 29, 98]
[10, 20, 39, 49, 19, 29, 98]

In [8]:
#Dalam mengaakses setiap elemen dalam list, kita dapat menggunakan sintaks perulangan for yang telah kita pelajari sebelumnya
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

for n in nilai:
    print(n)

[10, 20, 39, 49, 19, 29, 98]
10
20
39
49
19
29
98

In [9]:
#Berapa rata rata
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

total = 0
for n in nilai:
    total = total + n
    print(total)

rata = total / len(nilai)
print(rata)

[10, 20, 39, 49, 19, 29, 98]
10
30
69
118
137
166
264
37.714285714285715

In [10]:
#Berapa rata rata
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

[10, 20, 39, 49, 19, 29, 98]

In [11]:
#Lookup Nilai didalam List
nilai = [10, 20, 39, 49, 19, 29, 98]
print(nilai)

n = 95
if n in nilai :
    print(n, "Ada didalam List")
else :
    print(n, "Tidak ada didalam List")

[10, 20, 39, 49, 19, 29, 98]
95 Tidak ada didalam List

In [12]:
#LATIHAN
#Tampilkan Nilai yang LEBIH dari SAMA DENGAN rataratanya.

In [13]:
#Tuple merupakan tipe data yang mirip dengan list, namun berifat immutable atau tidak dapat ditambah dan diubah nilainya. 
#Keuntungan dari penggunaan tuple adalah, pengaksesan datanya lebih cepat.

In [14]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

In [15]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

print(bulan[0])
print(bulan[4])
print(bulan[-1])
print(bulan[-3])

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
Januari
Mei
Desember
Oktober

In [16]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)


print(bulan[2:5])

print(bulan[:-5])

print(bulan[5:])

print(bulan[:])

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
('Maret', 'April', 'Mei')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli')
('Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

In [17]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

for b in bulan:
    print(b)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
Januari
Februari
Maret
April
Mei
Juni
Juli
Agustus
September
Oktober
November
Desember

In [18]:
#Dictionary dalam Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. 
#Setiap key dipisahkan dari value-nya oleh titik dua (:), 
#item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
#Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, 
#seperti ini: {}.

In [19]:
siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
Budi
7
Laki-Laki

In [20]:
siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

#Mengubah Nilai
siswa['Nama'] = 'Ani'
print(siswa)

#Menambah Element
siswa['Alamat'] = "Jl. Kaliurang KM 5"
print(siswa)

# List sebagai nilai dari elemen Dictionary
siswa["Nilai"] = nilai
print(siswa)

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
Budi
7
Laki-Laki
{'Nama': 'Ani', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
{'Nama': 'Ani', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5'}
{'Nama': 'Ani', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5', 'Nilai': [10, 20, 39, 49, 19, 29, 98]}