# Twitter API Crawling

### 1. Import Library dan API Token

In [1]:
from twython import Twython
import json

In [2]:
TWITTER_APP_KEY = '?????'
TWITTER_APP_KEY_SECRET = '????' 
TWITTER_ACCESS_TOKEN = '?????'
TWITTER_ACCESS_TOKEN_SECRET = '???????'

t = Twython(app_key=TWITTER_APP_KEY, 
            app_secret=TWITTER_APP_KEY_SECRET, 
            oauth_token=TWITTER_ACCESS_TOKEN, 
            oauth_token_secret=TWITTER_ACCESS_TOKEN_SECRET)

### 2. Search dengan Twitter API

In [3]:
term = 'Kecelakaan'
tweet_metadatas = t.search(q=term,count=100,result_type='recent')

### 3. Mengambil salah Satu Tweet dengan JSON

In [4]:
print(tweet_metadatas['statuses'][0])

{'created_at': 'Mon Oct 29 06:54:45 +0000 2018', 'id': 1056801493481734144, 'id_str': '1056801493481734144', 'text': 'Dibuka crisis center di Bandara Soekarno Hatta, Bandara Depati Amir Pangkalpinang, dan Tanjung Karawang untuk kecel… https://t.co/tyKcZqhUO0', 'truncated': True, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/tyKcZqhUO0', 'expanded_url': 'https://twitter.com/i/web/status/1056801493481734144', 'display_url': 'twitter.com/i/web/status/1…', 'indices': [117, 140]}]}, 'metadata': {'iso_language_code': 'in', 'result_type': 'recent'}, 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 1051790874705715200, 'id_str': '1051790874705715200', 'name': 'Ken Khaleesi Tavisha', 'screen_name': 'KTavisha', 'location': 'Kota Malang, Jawa Timur', 'description': 'Putri kecil pemberani', 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 11, 'friends_count': 30, 'listed_count': 0, 'created_at': 'Mon Oct 15 11:04:20 +0000 2018', 'favourites_count': 1, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 167, 'lang': 'en', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1051791750157619200/eV_5oCGY_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1051791750157619200/eV_5oCGY_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1051790874705715200/1539601667', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'lang': 'in'}

### 4. Mengambil Isi Tweet

In [5]:
print(tweet_metadatas['statuses'][0]['text'])

Dibuka crisis center di Bandara Soekarno Hatta, Bandara Depati Amir Pangkalpinang, dan Tanjung Karawang untuk kecel… https://t.co/tyKcZqhUO0

### 5. Mengambil Username dari yang me-Tweet

In [6]:
print(tweet_metadatas['statuses'][0]['user']['screen_name'])

KTavisha

### 6. Mendapatkan Jumlah Following dan Follower

In [7]:
print(tweet_metadatas['statuses'][0]['user']['friends_count'],tweet_metadatas['statuses'][0]['user']['followers_count'],)

30 11

# Menyimpan Data Pada Tabel

Data yang akan disimpan adalah tweet dan siapa yg melakukan tweet

### 1. Masukkan data ke List of Dictionary

In [8]:
data_list = []

for tweet in tweet_metadatas['statuses']:
    meta = dict()
    meta['tweet'] = tweet['text']
    meta['timestamp'] = tweet['created_at']
    meta['username'] = tweet['user']['screen_name']
    
    data_list.append(meta)

print(data_list)

### 2. Buat Tabel untuk menyimpan Data

In [10]:
import pandas as pd
data = pd.DataFrame(data_list)
data.head()

,timestamp,tweet,username
0,Mon Oct 29 06:54:45 +0000 2018,Dibuka crisis center di Bandara Soekarno Hatta...,KTavisha
1,Mon Oct 29 06:54:45 +0000 2018,RT @AnitaWahid: KOK TEGA SIH MUSIBAH KECELAKAA...,aull_udell
2,Mon Oct 29 06:54:44 +0000 2018,RT @AnitaWahid: KOK TEGA SIH MUSIBAH KECELAKAA...,muzod
3,Mon Oct 29 06:54:43 +0000 2018,RT @akuratco: Menyebarkan foto-foto korban buk...,deviambar12
4,Mon Oct 29 06:54:41 +0000 2018,RT @akuratco: Menyebarkan foto-foto korban buk...,kunantaw

### 3. Menyimpan kedalam XLSX

In [11]:
writer = pd.ExcelWriter('scrap_twitter_kecelakaan.xlsx')
data.to_excel(writer,'Sheet1',index=False)
writer.save()

### 4. Menyimpan ke CSV

In [12]:
data.to_csv('scrap_twitter_kecelakaan.csv',index=False)